CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y

CONFIG_GRUB_TITLE="OpenWrt AutoBuild by kSir"
CONFIG_KERNEL_BUILD_USER="kSir"

# CONFIG_GRUB_IMAGES is not set

CONFIG_PACKAGE_autosamba=y



CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap-mod=y
CONFIG_PACKAGE_luci-theme-edge=y
CONFIG_PACKAGE_luci-theme-openwrt=y
CONFIG_PACKAGE_luci-theme-openwrt-2020=y

CONFIG_PACKAGE_open-vm-tools=y
CONFIG_PACKAGE_open-vm-tools-fuse=y

CONFIG_PACKAGE_vim-full=y


CONFIG_TARGET_KERNEL_PARTSIZE=128
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_PARTSIZE=1600
# CONFIG_VMDK_IMAGES=y